name: Build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Dependencies
      run: |
        sudo apt update
        sudo apt install -y aspell libreoffice

    - name: Build

      run: |
        mkdir target
        timestamp=$(date -u +%Y%m%d-%H%M%S)
        echo "::set-env name=TIMESTAMP::${timestamp}"
        bash subsetUBLSchemas-github.sh target github ${timestamp}z DELETE-REPOSITORY-FILES-AS-WELL

    - uses: actions/upload-artifact@v2
      with:
        name: artefacts-UBL-subset-github-${{ env.TIMESTAMP }}z
        path: ./*
        #path: target/artefacts-UBL-2.3-github-${{ env.TIMESTAMP }}z/*
        #name: all-UBL-2.3-github-${{ env.TIMESTAMP }}z
        #path: ./*
